{% extends "base.html" %}

{% block content %}
<p>This is my form page</p>
<form method="POST">
    {{ form.csrf_token }}

    {{ form.name.label }}: {{ form.name (size=40) }} <br>
    {% if form.name.errors %}
        <div class='alert alert-warning' role='alert'>
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif%}

    {{ form.message.label }}: {{ form.message (size=60)}} <br>
    {% if form.message.errors %}
        <div class='alert alert-warning' role='alert'>
            {% for error in form.message.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% endif%}

    {{ form.submit() }}
</form>


{% endblock %}